/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
public/css/._animate.min.css
public/css/._bootstrap.min.css
public/css/._flaticon.css
public/css/._fontawesome-all.min.css
public/css/._gijgo.css
public/css/._magnific-popup.css
public/css/._main.css
public/css/._main.map
public/css/._nice-select.css
public/css/._owl.carousel.min.css
public/css/._responsive.css
public/css/._slick.css
public/css/._slicknav.css
public/css/._style.css
public/css/._style.map
public/css/._themify-icons.css
public/css/._ticker-style.css
public/fonts/._fa-brands-400.eot
public/fonts/._fa-brands-400.svg
public/fonts/._fa-brands-400.ttf
public/fonts/._fa-brands-400.woff
public/fonts/._fa-brands-400.woff2
public/fonts/._fa-regular-400.eot
public/fonts/._fa-regular-400.svg
public/fonts/._fa-regular-400.ttf
public/fonts/._fa-regular-400.woff
public/fonts/._fa-regular-400.woff2
public/fonts/._fa-solid-900.eot
public/fonts/._fa-solid-900.svg
public/fonts/._fa-solid-900.ttf
public/fonts/._fa-solid-900.woff
public/fonts/._fa-solid-900.woff2
public/fonts/._flaticon.css
public/fonts/._Flaticon.eot
public/fonts/._flaticon.html
public/fonts/._Flaticon.svg
public/fonts/._Flaticon.ttf
public/fonts/._Flaticon.woff
public/fonts/._Flaticon.woff2
public/fonts/._themify.eot
public/fonts/._themify.svg
public/fonts/._themify.ttf
public/fonts/._themify.woff
public/img/about/._about_lft.png
public/img/about/._about_right.png
public/img/about/._pet_care.png
public/img/about/about_lft.png
public/img/about/about_right.png
public/img/about/pet_care.png
public/img/adapt_icon/._1.png
public/img/adapt_icon/._1.svg
public/img/adapt_icon/._2.png
public/img/adapt_icon/._3.png
public/img/adapt_icon/1.png
public/img/adapt_icon/1.svg
public/img/adapt_icon/2.png
public/img/adapt_icon/3.png
public/img/banner/._dog.png
public/img/banner/._img.png
public/img/banner/dog.png
public/img/banner/img.png
public/img/blog/._author.png
public/img/blog/._blog_4.png
public/img/blog/._learn_about_bg.png
public/img/blog/._single_blog_1.png
public/img/blog/._single_blog_2.png
public/img/blog/._single_blog_3.png
public/img/blog/._single_blog_4.png
public/img/blog/._single_blog_5.png
public/img/blog/._slide_thumb_1.png
public/img/blog/author.png
public/img/blog/blog_4.png
public/img/blog/learn_about_bg.png
public/img/blog/single_blog_1.png
public/img/blog/single_blog_2.png
public/img/blog/single_blog_3.png
public/img/blog/single_blog_4.png
public/img/blog/single_blog_5.png
public/img/blog/slide_thumb_1.png
public/img/comment/comment_1.png
public/img/comment/comment_2.png
public/img/comment/comment_3.png
public/img/elements/._a.jpg
public/img/elements/._a2.jpg
public/img/elements/._d.jpg
public/img/elements/._disabled-check.png
public/img/elements/._disabled-radio.png
public/img/elements/._f1.jpg
public/img/elements/._f2.jpg
public/img/elements/._f3.jpg
public/img/elements/._f4.jpg
public/img/elements/._f5.jpg
public/img/elements/._f6.jpg
public/img/elements/._f7.jpg
public/img/elements/._f8.jpg
public/img/elements/._g1.jpg
public/img/elements/._g2.jpg
public/img/elements/._g3.jpg
public/img/elements/._g4.jpg
public/img/elements/._g5.jpg
public/img/elements/._g6.jpg
public/img/elements/._g7.jpg
public/img/elements/._g8.jpg
public/img/elements/._primary-check.png
public/img/elements/._primary-radio.png
public/img/elements/._success-check.png
public/img/elements/._success-radio.png
public/img/elements/a.jpg
public/img/elements/a2.jpg
public/img/elements/d.jpg
public/img/elements/disabled-check.png
public/img/elements/disabled-radio.png
public/img/elements/f1.jpg
public/img/elements/f2.jpg
public/img/elements/f3.jpg
public/img/elements/f4.jpg
public/img/elements/f5.jpg
public/img/elements/f6.jpg
public/img/elements/f7.jpg
public/img/elements/f8.jpg
public/img/elements/g1.jpg
public/img/elements/g2.jpg
public/img/elements/g3.jpg
public/img/elements/g4.jpg
public/img/elements/g5.jpg
public/img/elements/g6.jpg
public/img/elements/g7.jpg
public/img/elements/g8.jpg
public/img/elements/primary-check.png
public/img/elements/primary-radio.png
public/img/elements/success-check.png
public/img/elements/success-radio.png
public/img/gallery/._1.png
public/img/gallery/._2.png
public/img/gallery/._3.png
public/img/gallery/1.png
public/img/gallery/2.png
public/img/gallery/3.png
public/img/hero/._h1_hero.jpg
public/img/hero/._header_card.jpg
public/img/hero/h1_hero.jpg
public/img/hero/header_card.jpg
public/img/icon/._header_icon1.png
public/img/icon/._header_icon2.png
public/img/icon/header_icon1.png
public/img/icon/header_icon2.png
public/img/logo/._form-iocn.jpg
public/img/logo/._form-iocn.png
public/img/logo/._logo.png
public/img/logo/._logo2_footer.png
public/img/logo/form-iocn.jpg
public/img/logo/form-iocn.png
public/img/logo/logo.png
public/img/logo/logo2_footer.png
public/img/news/._icon-fb.png
public/img/news/._icon-ins.png
public/img/news/._icon-tw.png
public/img/news/._icon-yo.png
public/img/news/._news_card.jpg
public/img/news/._recent1.jpg
public/img/news/._recent2.jpg
public/img/news/._recent3.jpg
public/img/news/._video_overly1.jpg
public/img/news/._weekly2News1.jpg
public/img/news/._weekly2News2.jpg
public/img/news/._weekly2News3.jpg
public/img/news/._weekly2News4.jpg
public/img/news/._weeklyNews1.jpg
public/img/news/._weeklyNews2.jpg
public/img/news/._weeklyNews3.jpg
public/img/news/._whatNews1.jpg
public/img/news/._whatNews2.jpg
public/img/news/._whatNews3.jpg
public/img/news/._whatNews4.jpg
public/img/news/icon-fb.png
public/img/news/icon-ins.png
public/img/news/icon-tw.png
public/img/news/icon-yo.png
public/img/news/news_card.jpg
public/img/news/recent1.jpg
public/img/news/recent2.jpg
public/img/news/recent3.jpg
public/img/news/video_overly1.jpg
public/img/news/weekly2News1.jpg
public/img/news/weekly2News2.jpg
public/img/news/weekly2News3.jpg
public/img/news/weekly2News4.jpg
public/img/news/weeklyNews1.jpg
public/img/news/weeklyNews2.jpg
public/img/news/weeklyNews3.jpg
public/img/news/whatNews1.jpg
public/img/news/whatNews2.jpg
public/img/news/whatNews3.jpg
public/img/news/whatNews4.jpg
public/img/offers/._1.png
public/img/offers/._2.png
public/img/offers/._3.png
public/img/offers/1.png
public/img/offers/2.png
public/img/offers/3.png
public/img/our_blog/._blog-img1.jpg
public/img/our_blog/blog-img1.jpg
public/img/post/._about_heor.jpg
public/img/post/._instra1.jpg
public/img/post/._instra2.jpg
public/img/post/._instra3.jpg
public/img/post/._instra4.jpg
public/img/post/._instra5.jpg
public/img/post/._instra6.jpg
public/img/post/._next.png
public/img/post/._post_1.png
public/img/post/._post_2.png
public/img/post/._post_3.png
public/img/post/._post_4.png
public/img/post/._post_5.png
public/img/post/._post_6.png
public/img/post/._post_7.png
public/img/post/._post_8.png
public/img/post/._post_9.png
public/img/post/._post_10.png
public/img/post/._preview.png
public/img/post/about_heor.jpg
public/img/post/instra1.jpg
public/img/post/instra2.jpg
public/img/post/instra3.jpg
public/img/post/instra4.jpg
public/img/post/instra5.jpg
public/img/post/instra6.jpg
public/img/post/next.png
public/img/post/post_1.png
public/img/post/post_2.png
public/img/post/post_3.png
public/img/post/post_4.png
public/img/post/post_5.png
public/img/post/post_6.png
public/img/post/post_7.png
public/img/post/post_8.png
public/img/post/post_9.png
public/img/post/post_10.png
public/img/post/preview.png
public/img/prising/._1.png
public/img/prising/._2.png
public/img/prising/._3.png
public/img/prising/._4.png
public/img/prising/._5.png
public/img/prising/._6.png
public/img/prising/._7.png
public/img/prising/._8.png
public/img/prising/._9.png
public/img/prising/._10.png
public/img/prising/1.png
public/img/prising/2.png
public/img/prising/3.png
public/img/prising/4.png
public/img/prising/5.png
public/img/prising/6.png
public/img/prising/7.png
public/img/prising/8.png
public/img/prising/9.png
public/img/prising/10.png
public/img/service/._1.png
public/img/service/._2.png
public/img/service/._3.png
public/img/service/._completed_case_1.png
public/img/service/._completed_case_2.png
public/img/service/._completed_case_3.png
public/img/service/._completed_case_4.png
public/img/service/._completed_case_5.png
public/img/service/._completed_case_6.png
public/img/service/._service_icon_1.png
public/img/service/._service_icon_2.png
public/img/service/._service_icon_3.png
public/img/service/._service_icon_bg_1.png
public/img/service/._services_bg.png
public/img/service/1.png
public/img/service/2.png
public/img/service/3.png
public/img/service/completed_case_1.png
public/img/service/completed_case_2.png
public/img/service/completed_case_3.png
public/img/service/completed_case_4.png
public/img/service/completed_case_5.png
public/img/service/completed_case_6.png
public/img/service/service_icon_1.png
public/img/service/service_icon_2.png
public/img/service/service_icon_3.png
public/img/service/service_icon_bg_1.png
public/img/service/services_bg.png
public/img/team/._1.png
public/img/team/._2.png
public/img/team/._3.png
public/img/team/1.png
public/img/team/2.png
public/img/team/3.png
public/img/trending/._right1.jpg
public/img/trending/._right2.jpg
public/img/trending/._right3.jpg
public/img/trending/._right4.jpg
public/img/trending/._right5.jpg
public/img/trending/._trending_bottom1.jpg
public/img/trending/._trending_bottom2.jpg
public/img/trending/._trending_bottom3.jpg
public/img/trending/._trending_top.jpg
public/img/trending/right1.jpg
public/img/trending/right2.jpg
public/img/trending/right3.jpg
public/img/trending/right4.jpg
public/img/trending/right5.jpg
public/img/trending/trending_bottom1.jpg
public/img/trending/trending_bottom2.jpg
public/img/trending/trending_bottom3.jpg
public/img/trending/trending_top.jpg
